:root{
    --clr-primary-500:hsl(215, 51%, 70%); /*Soft blue:*/
    --clr-primary-300: hsl(178, 100%, 50%); /*Cyan: */
    --clr-primary-350: rgba(0, 255, 247, 0.282); /*Cyan: */

    --clr-secondary-900:hsl(217, 54%, 11%); /*Very dark blue (main BG)*/
    --clr-secondary-800: hsl(216, 50%, 16%); /*Very dark blue (card BG):*/
    --clr-secondary-700:hsl(215, 32%, 27%); /*Very dark blue (line)*/
    --clr-secondary-100:hsl(0, 0%, 100%);/*White:*/

    --ff-primary: 'Outfit', sans-serif;
    --fs-primary: 1rem;
    --fs-secondary: 1.125rem;
    --fw-regular:300;
    --fw-semi-bold:400;
    --fw-bold: 600;
}

*,
*::after,
*::before {
    box-sizing: border-box; 
}

* {
    margin:0;
    padding:0;
    font: inherit;  
}

a {
    text-decoration: none;
}

body {
    height:100vh; 
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--ff-primary);
    background-color: var(--clr-secondary-900);
}

main {
    width: 360px;
    height:590px;
    padding:1.6em;
    border: 1px solid black;
    border-radius: var(--fs-primary);
    background-color: var(--clr-secondary-800);
}

.image-conteiner {
    cursor: pointer;
    position:relative;
    width:100%;
    height: 56%; 
}

.card-image {
    width:100%;
    height: 100%;
    border-radius: var(--fs-primary);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: var(--clr-primary-350);
    border-radius: var(--fs-primary);
  }

  .image-conteiner:hover .overlay  {
   opacity: 1;
}

.icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.card-title {
    font-size: 1.4rem;
    font-weight: var(--fw-bold);
    margin: 0.9em 0 0.9em 0;
    color: var(--clr-secondary-100);
}

.card-title:hover {
    color: var(--clr-primary-300);
}

.card-text {
    font-size: var(--fs-secondary);
    font-weight: var(--fw-semi-bold);
    color: var(--clr-primary-500)
}

.terms-conteiner {
    padding: 1.5em 0 1.3em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-secondary-700);
}

.ethereum-conteiner,.clock-conteiner {
    display:flex;
    align-items: center;
}

.ethereum-conteiner span, .clock-conteiner span {
    margin-left: 0.5em;
}

.ethereum-conteiner span {
    font-weight: var(--fw-semi-bold);
    color:var(--clr-primary-300)
}

.clock-conteiner span {
    font-weight: var(--fw-semi-bold);
    color:var(--clr-primary-500)
}

.user-conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 1.2em 0 0 0;
}

.user-image {
    width:12%;
    height:12%;
    border: 2px solid var(--clr-primary-500);
    border-radius: 50%;
}

.creator-conteiner {
    margin-left: 1em;
}

.creator {
    color: var(--clr-primary-500);
}

.creator-name {
    color: var(--clr-secondary-100);
}
.creator-name:hover {
    color: var(--clr-primary-300);
}